#div1{
    height: 300px;
    width: 300px;
    border: 2px solid #000;
    background: #f49191;
}

#div2{
    height: 300px;
    width: 300px;
    border: 2px solid #000;
    background-color: blue;
}

#div3{
    height: 300px;
    width: 300px;
    border: 2px solid #000;
    background-color: blueviolet;
}


#div4 {
  width: 300px;
  height: 300px;
  background-color: rgb(31, 181, 61);
}
